# 👋 Code owners help maintain this repository and keep it aligned with our technical vision.
# You're responsible for reviewing changes, ensuring quality, and guiding contributors.
# You're also encouraged to help triage issues and keep discussions constructive and focused.
# Ownership can be shared, delegated, or updated as the project evolves.

# For more information about CODEOWNERS, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# As we cannot use groups, we list all members of @eclipse-score/infrastructure-maintainers here.
* @AlexanderLanin @MaximilianSoerenPollak @dcalavrezo-qorix @nradakovic

# Note: releases need to be controlled pre-tagging, and not pre-inclusion into the registry.
# Therefore, we do not assign code owners for the modules here.
# bazel_registry will be synced to individual repo releases.
